{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "amd": true
    },
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 7,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "rules": {
        "comma-dangle": ["error", "never"],
        "indent": ["error", 4],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "brace-style": ["error", "stroustrup"],
        "object-curly-spacing": 0,
        "global-require": 0,
        "new-cap": 0,
        'no-param-reassign': 0,
        'no-unused-expressions': ["error", { "allowShortCircuit": true, "allowTernary": true }],
        'no-lonely-if': 2
    }
}
